.btn {
    -fx-background-color: rgb(165, 114, 80);
    -fx-text-fill: white;

}
.btn:hover {
    -fx-background-color: rgb(147, 29, 2);
    -fx-text-fill: white;
}

.confirm-button {
    -fx-background-color: rgb(0, 129, 72);
    -fx-text-fill: white;
}
.confirm-button:hover {
    -fx-background-color: rgb(3, 71, 50);
    -fx-text-fill: white;

}

.pole {
    -fx-stroke: rgb(60, 12, 3);
}

.rope {
    -fx-stroke: rgb(135, 53, 22);
}